<p id="notice"><%= notice %></p>

<p>
  <strong>الوصف :</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>المستخدم :</strong>
  <%= @comment.user %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |

