

<div class="container" class="animal-list">
  <% @animals.each do |animal| %>
    <div class="row"> 
      <%= link_to animal do  %>
         <p><%= animal.title %></p>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to 'إضافة طلب جديد', new_animal_path %>



